.content{
	text-align: center;
}

div.content p:first-child, div.feedback p:first-child{
	font-size: 2em;
	font-family: 'Rampart One', cursive;
	margin: 10px 0;
}

div.content div.contacts>div{
	display: inline-block;
	vertical-align: middle;
}

table{
	font-size: 1.5em;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: left;
	position: top;
}

table td:first-child{
	font-weight: bold;
	font-size: 2em;
}

div.content svg{
	transition: 1s;
}



div.content svg:hover{
	transform: scale(1.2);
	fill: red;
	animation: icon_rotate 0.5s linear  alternate;
}

div.toches{
	width: 400px;
}

.feedback{
	width: 80%;
	margin: 0 auto;
}

p.rules{
	font-family: "Lucida Console", Monaco, monospace;
	text-align: left;
	font-size: 1.2em !important; 
	margin: 5px 5px;
}

.feedback input{
	width: 100%;
	height: 2em;
}

.feedback textarea{
	width: 100%;
	height: 150px;
}

#butPub{
	float: right;
	border-radius: 2px;
	border: 2px solid black;
	width: 100px;
	height: 50px;
	background-color: white;
	font-size: 1em;
	font-weight: bold;
}

@media screen and  (max-width: 650px ){

	.map iframe{
		display: none;
	}

	a.unselect, h2{
		font-family: "Lucida Console", Monaco, monospace;
	}

	div.toches{
	width: 100%;
	padding-left: 35px;
	}

	#butPub{
		border-radius: none;
	}
	
}

@keyframes icon_rotate{
	 0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}